section.sel-item
	header
		h2.sel-title
			a(href="/announcements/#{slug}")!= title
		div.announcement-label-container
			span.announcement-label announcement :&nbsp;
			time.sel-info(datetime="#{date_entered_microdata}")= date_entered
	.sel-teaser.teaser-text
		span!= teaser
		a(href="/announcements/#{slug}").read-rest &nbsp;&lowast;&lowast;&lowast;&nbsp;read&nbsp;on&nbsp;&raquo;