.subscribe.u-footer
  background: whitesmoke
  border-top: 4px solid $c-subtle
  margin-top: 2em
  padding: 2em 0
  .home-subhead
    margin-top: 0

.site-footer
  +clearfix
  background: $c-subtle
  color: white
  text-align: center

.footer-inner
  margin: 0 auto
  padding: 1em 1em 1.5em 1em
  max-width: $site-x

  a,
  a:visited
    border-bottom: 1px dotted white
    color: white
    &:hover
      border-bottom-color: $c-emphatic

.footer-col
  float: left
  min-width: 200px
  padding: 1em
  width: 25%
  &.footer-text
    width: 50%

.footer-title
  font:
    size: 1.2em
    variant: small-caps

.footer-description
  float: left
  margin-right: 1em
  width: 100%

.footer-about
  display: inline-block
  &:after
    content: "\00a0\00bb"

.footer-links
  +clearfix
  margin: 1em auto 0 auto

.footer-link,
.footer-link:visited
  +button($c-subtle, $c-emphatic)
  float: left
  line-height: 2
  width: 50%
  &:hover
    color: white


@media (min-width: $m-selection-lg)

  .footer-links
    +inline-list(" / ")

  .footer-link
    float: none
    width: auto