.home-content
  margin-top: 0
  padding-top: 0
  margin-bottom: -2em
  position: relative
  z-index: 1

.home-subhead
  @extend %h--sidebar
  margin: 1em 0
  text-align: center
  text-transform: uppercase

// SITE HEADER

.site-header
  padding: 20px 0
  text-align: center

.site-title
  color: $c-emphatic
  text-align: center

.site-title-the
  @extend %dingled
  font-size: 3em

.site-title-gentle,
.site-title-reader
  font-size: 3.5em
  text-transform: uppercase

.site-slogan
  margin-bottom: 1em
  font:
    family: $f-heading
    size: 1.4em
    style: italic
  text-align: center
  em
    font-style: normal

.home-main
  +clearfix


// SEARCH

.home-search-container
  border-bottom: $bar2
  border-top: $bar2
  padding: 1em
  text-align: center

  .search-input
    width: 10em

.home-form-inner
  +inline-block

.home-form-label
  +inline-block
  margin-right: 0.3em
  text-transform: uppercase
  vertical-align: middle
  height: 30px
  line-height: 30px


// Lower regions

.home-section
  margin: 2em 0


// BROWSE

.home-nav-container
  .subnav-browse
    +dot-leader-list(white)
    max-width: 85%
    padding: 0
    opacity: 1


// RANDOM QUOTE

.home-content .rq-btn
  margin: 2em auto


// RECENT ADDITIONS

.home-more-btn,
.home-more-btn:visited
  +dot-link


// SUBSCRIBE

.email-input,
.email-submit
  @extend %styled-input

.email-submit
  background: whitesmoke
  font-family: Arial, sans-serif
  font-size: 0.7em
  text-transform: uppercase
  border: 2px solid $c-link
  color: $c-link
  vertical-align: top
  &:hover
    border-color: $c-link-hover
    color: $c-link-hover

.subscribe,
.contribute
  text-align: center

.subscribe-icon
  +hide-text
  border-bottom: none
  display: inline-block
  margin: 0 5px


.home-image img
  max-width: 100%

.home-footer-padding
  margin-top: 2em

#about
  display: none


@media (min-width: $m-selection-lg)

  // heading

  .site-title
    border-bottom: double 15px $c-emphatic
    border-top: double 15px $c-emphatic
    font-size: 1.3em
    margin: 1em 0 1.5em
    text-align: center

  .site-title-the
    &:before,
    &:after,
    &.u-second
      display: none

  .site-title-the,
  .site-title-gentle,
  .site-title-reader
    display: inline
    margin: 0 10px

  .site-slogan
    text-align: left


  // right column

  .home-col-left
    float: left
    margin-right: 9%
    width: 58%

  .home-search-container
    text-align: left
    .search-input
      width: 18em

  .home-nav-container
    margin-top: 0
    .subnav-browse
      li:before
        position: relative
        z-index: -1
      //+column-count(2)
      +column-gap(40px)
      max-width: 100%


  // left column

  .home-col-right
    float: left
    width: 33%
    .home-subhead,
    .rq-title
      font-size: 25px
      border-bottom: $bar
      line-height: 1.75
      margin-top: 0
      text-align: center
      text-transform: uppercase
    .rq-body
      width: 100%
