.rq-btn
  +transition(all $trans-time)
  +two-borders(x, double 4px $c-emphatic)
  cursor: pointer
  font-size: 1.1em
  margin: 0 auto
  padding: 0.5em 0
  text-align: center
  text-transform: uppercase
  max-width: 320px

  &:hover
    border-color: black
    color: $c-emphatic
    &:before,
    &:after
      color: $c-emphatic

.rq-backdrop
  background: rgba(0,0,0,0.7)
  content: ""
  display: none
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 100

.rq-body
  +transition((top 0.5s ease, opacity 0.7s linear))
  opacity: 0
  background: white
  display: none
  font-size: 1em
  margin: 20px auto 0 auto
  max-width: 600px
  padding: 1.5em
  position: absolute
  top: -1000px
  left: 5%
  right: 5%
  z-index: 200
    
  &:before
    border: double 8px black
    content: ""
    position: absolute
    top: 0.5em
    bottom: 0.5em
    right: 0.5em
    left: 0.5em
  
  &.show
    opacity: 1

.rq-title
  @extend %heading
  font:
    size: 1.5em
    variant: small-caps
  border-bottom: $bar2
  line-height: 1.75
  margin-bottom: 0.75em
  text-align: center

.rq-utils

.rq-content
  position: relative

.rq-text
  @extend %indented-ps
  color: $c-subtle
  font-family: $f-heading
  line-height: 1.4
  +hyphens
  font-size: 1.3em
  margin-bottom: 0.6em

.rq-citation
  font-size: 1.2em
  margin-left: 1em
  position: relative

.rq-utils
  font:
    family: $f-heading
    size: 1.2em
    style: italic
  margin-top: 1em
  position: relative

.rq-another,
.rq-close
  +transition(color $trans-time)

.rq-another
  +two-borders(x, $bar)
  cursor: pointer
  padding: 0.5em
  text-align: center
  &:hover
    color: $c-emphatic
     
.rq-close
  color: $c-subtle
  cursor: pointer
  margin-top: 1em
  text-align: center
  &:before,
  &:after
    content: "---"
  &:before
    margin-right: 0.5em
  &:after
    margin-left: 0.5em
  &:hover
    color: $c-emphatic
