/* LESS variables to be used in all stylesheets;
 * also, classes that apply across pages
 */
.secret-link {
  color: black;
  cursor: pointer;
}
.secret-link:hover {
  color: #990000;
}
.dot-leaders {
  float: left;
  width: 0;
  white-space: nowrap;
  font-weight: normal;
  content: " . . . . . . . . . . . . . . . . . . ." " . . . . . . . . . . . . . . . . . . ." " . . . . . . . . . . . . . . . . . . ." " . . . . . . . . . . . . . . . . . . .";
}
.dot-leader-list {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding-left: 0px;
  overflow-x: hidden;
}
.dot-leader-list li {
  color: black;
  cursor: pointer;
  text-align: right;
  padding-bottom: 2px;
}
.dot-leader-list li:hover {
  color: #990000;
}
.dot-leader-list li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  font-weight: normal;
  content: " . . . . . . . . . . . . . . . . . . ." " . . . . . . . . . . . . . . . . . . ." " . . . . . . . . . . . . . . . . . . ." " . . . . . . . . . . . . . . . . . . .";
}
.dot-leader-list li span:first-child {
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-right: -0.2em;
  background: #97b5bb;
}
.bce {
  font-variant: small-caps;
  padding: 0 !important;
}
.posted-date {
  font-size: 0.8em;
}
.hanging-indent {
  text-indent: -20px;
  margin: 0 0 0 20px;
}
.poetry-line {
  display: block;
  text-indent: -20px;
  margin: 0 0 0 20px;
}
/*in teasers and quotation boxes*/
.ellipsis {
  font-style: normal;
  display: inline-block;
  font-size: 0.7em !important;
}
.inline-translation {
  font-style: normal;
  font-variant: small-caps;
}
.in-text-comment {
  font-style: italic;
  margin: 1em 60px;
}
/*------------------------*/
.border-radius-soft {
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.arrow-down {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #003399;
  font-size: 1px;
  height: 0;
  width: 0;
}
.arrow-up {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #003399;
  font-size: 0;
  height: 0;
  vertical-align: 6px;
  width: 0;
}
.arrow-right {
  border-left: 4px solid #003399;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  font-size: 0;
  height: 0;
  width: 0;
}
.down-arrow-link {
  color: black;
  cursor: pointer;
  color: #003399;
}
.down-arrow-link .arrow-down {
  font-size: 1.5px;
}
.down-arrow-link:hover {
  color: #990000;
}
.down-arrow-link:hover .arrow-down {
  border-top-color: #990000;
}
.browse-heading {
  padding: 0 10px;
}
.browse-heading h1 {
  border-bottom: 1px solid #364719;
  color: #990000;
  font-size: 3em;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
.small-command {
  font-family: Tahoma, Helvetica, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
}
.read-rest {
  font-family: Tahoma, Helvetica, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
}
.read-rest:hover {
  text-decoration: underline;
}
/*-------------
 * RESET
 * -----------*/
* {
  margin: 0;
  padding: 0;
}
/*-------------
 * ELEMENTS
 * ------------*/
hr {
  margin: 10px auto;
}
p {
  line-height: 130%;
  margin-bottom: 1em;
}
a {
  color: #003399;
  text-decoration: none;
}
a:hover {
  color: #990000;
}
/* <b> will be used to mark special span of text that doens't fit other
 * semantic markup. */
b {
  font-weight: normal;
}
/* If <q> tag is used, quotation marks will be included as part of the text,
 * due to inconsistent browser support. */
q:before,
q:after {
  content: "";
}
blockquote {
  font-family: Times New Roman, Times, serif;
  margin: 1em 0 1em 40px;
}
/*---------------
 * SKIP LINK (from http://webaim.org/techniques/skipnav/)
 *-------------*/
#skip,
#skip:hover,
#skip:visited {
  background-color: white;
  position: absolute;
  left: 0px;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#skip:active,
#skip:focus {
  position: static;
  width: auto;
  height: auto;
}
/*--------------
 * BASE LAYOUT
 * -------------*/
body {
  background-color: #687241;
  font-family: Calisto MT, Constantia, Georgia, serif;
  margin: 5px;
}
#wrapper {
  margin: 0 auto;
  max-width: 900px;
  min-width: 785px;
  overflow: auto;
}
#site-header,
#site-footer {
  background-image: url('/static/anthologist/images/leaf-border-green-black-sm.jpg');
  float: left;
  width: 100%;
}
#site-header {
  height: 40px;
}
#site-content-container {
  overflow: auto;
  width: 100%;
}
/*----------------
 * HEADER & FOOTER
 *----------------/

/*HEADER*/
#site-header-title {
  color: white;
  display: inline;
  margin: 0 15px;
}
#site-header-title #site-title-the {
  font-size: 1.2em;
}
#site-header-title #site-title-name {
  font-size: 1.9em;
}
#site-header-title:hover {
  color: #990000;
}
/* NAVIGATION MENU 
 * (some ideas from http://csswizardry.com/2011/02/creating-a-pure-css-dropdown-menu/) */
#site-header-nav {
  display: inline;
}
.navigation {
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 0.9em;
  list-style-type: none;
}
.navigation li {
  cursor: pointer;
  float: left;
  position: relative;
}
.navigation li a {
  color: white;
  display: block;
  height: 16px;
  padding: 12px;
}
.navigation li:hover a {
  background-color: #5d868f;
  color: black;
  opacity: 0.9;
}
/* The rules below relate to the "browse" dropdown, so only apply to the header. */
#site-header-nav .navigation {
  float: right;
}
#site-header-nav .navigation ul {
  background: rgba(255, 255, 255, 0);
  left: -9999px;
  list-style-type: none;
  position: absolute;
}
#site-header-nav .navigation ul li {
  float: none;
}
#site-header-nav .navigation ul li a {
  padding: 5px 10px;
  white-space: nowrap;
}
#site-header-nav .navigation li:hover ul {
  left: 0;
}
#site-header-nav .navigation li:hover ul li a:hover {
  background: #990000;
  color: white;
}
/* FOOTER */
#site-footer {
  font-family: Tahoma, Helvetica, sans-serif;
}
.get-copyright-info {
  cursor: pointer;
}
#copyright-info {
  background: white;
  clear: both;
  display: none;
  font-size: 0.75em;
  padding: 3px 5px;
}
#footer-facebook,
#footer-rss {
  float: right;
}
/*CONTAINERS*/
#site-content-container {
  background-color: #97b5bb;
}
#main {
  background-color: white;
  float: left;
  width: 75%;
}
#sidebar {
  width: 25%;
  float: right;
}
/*----------------
 * MAIN
 ----------------*/
#main-content {
  padding: 15px;
  min-height: 1200px;
}
/*HEADING*/
#main-heading {
  padding: 0 10px;
}
#main-heading h1 {
  border-bottom: 1px solid #364719;
  color: #990000;
  font-size: 3em;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
#category-description {
  border-bottom: 1px solid #364719;
  display: none;
  font-size: 0.9em;
  margin-bottom: 20px;
  padding: 0 20px 5px 20px;
}
/*ADJUSTORS*/
#adjustor-container select {
  font-family: Tahoma, Helvetica, sans-serif;
}
#adjustor-container label {
  color: #364719;
  padding: 2px 2px 0 0;
}
.adjustor-subcontainer {
  color: #364719;
  font-size: 0.75em;
  font-family: Tahoma, Helvetica, sans-serif;
  margin: 10px auto 0 auto;
  text-align: center;
  margin: 0 auto;
  padding: 3px;
}
#page-select-container {
  max-width: 350px;
}
#page-select {
  max-width: 275px;
}
/*BODY*/
#tag-container {
  max-width: 300px;
  margin: 15px auto;
}
#tag-list {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding-left: 0px;
  overflow-x: hidden;
  display: none;
}
#tag-list li {
  color: black;
  cursor: pointer;
  text-align: right;
  padding-bottom: 2px;
}
#tag-list li:hover {
  color: #990000;
}
#tag-list li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  font-weight: normal;
  content: " . . . . . . . . . . . . . . . . . . ." " . . . . . . . . . . . . . . . . . . ." " . . . . . . . . . . . . . . . . . . ." " . . . . . . . . . . . . . . . . . . .";
}
#tag-list li span:first-child {
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-right: -0.2em;
  background: #97b5bb;
}
#tag-list li span:first-child {
  background: white;
}
/*----------------
 * SIDEBAR
 ----------------*/
.sidebar-block,
.sidebar-heading {
  background-color: #97b5bb;
  border-bottom: 1px solid #ffffff;
  color: black;
  display: block;
  font-size: 0.9em;
  padding: 10px 20px;
}
#get-description {
  color: black;
  cursor: pointer;
  border-bottom: none;
  color: #003399;
}
#get-description:hover {
  color: #990000;
}
.sidebar-heading {
  font-weight: bold;
}
.sidebar-block:hover {
  background-color: #b6cbcf;
}
#sidebar ul {
  list-style-type: none;
}
#sidebar ul li {
  text-transform: uppercase;
}
#quotation-container {
  display: none;
  font-size: 0.9em;
  padding: 15px;
}
#quotation-container h2 {
  border-bottom: 1px solid #364719;
  color: #990000;
  font-size: 1.1em;
  text-transform: uppercase;
  width: 100%;
}
#quotation-container h2:hover {
  color: #003399;
}
.quotation-box-quotation {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  line-height: 125%;
  margin-top: 10px;
}
.quotation-box-quotation a {
  display: block;
  color: black;
  cursor: pointer;
}
.quotation-box-quotation a:hover {
  color: #990000;
}
.quotation-box-quotation p {
  margin-bottom: 0;
  text-indent: 20px;
}
.quotation-box-quotation p:first-child {
  text-indent: 0;
}
.quotation-box-quotation .inline-translation,
.quotation-box-quotation i,
.quotation-box-quotation em,
.quotation-box-quotation cite {
  font-style: normal;
}
.quotation-box-citation {
  margin: 10px 0 0 20px;
  text-align: right;
}
.quotation-box-citation a {
  display: block;
  color: black;
  cursor: pointer;
}
.quotation-box-citation a:hover {
  color: #990000;
}
.quotation-box-followup {
  font-family: Tahoma, Helvetica, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  margin-top: 10px;
}
.quotation-box-followup a:hover,
.quotation-box-followup span:hover {
  text-decoration: underline;
}
.another-specimen {
  color: black;
  cursor: pointer;
  margin-top: 5px;
}
.another-specimen:hover {
  color: #990000;
}
span.another-specimen {
  color: #003399;
}
#timeline-sel-container {
  padding: 15px;
}
#timeline-sel-container ul {
  list-style-type: none;
}
.timeline-sel-item {
  padding: 10px 10px;
}
.timeline-sel-item h2 {
  float: left;
  font-size: 1.2em;
  padding: 0 5px;
  width: 75px;
}
.timeline-sel-body {
  margin-left: 85px;
}
.timeline-sel-body h3 {
  display: inline;
  font-size: 1em;
}
.timeline-sel-even {
  background-color: #e4eced;
}
.timeline-sel-info,
.toggle-teaser {
  font-size: 0.9em;
}
.toggle-teaser {
  color: black;
  cursor: pointer;
  color: #003399;
  display: inline-block;
}
.toggle-teaser:hover {
  color: #990000;
}
.toggle-teaser:hover .arrow-down {
  border-top-color: #990000;
}
.timeline-teaser {
  display: none;
  font-family: Times New Roman, serif;
  font-size: 0.9em;
  margin: 5px 0;
}
.timeline-teaser p {
  margin-bottom: 0;
  text-indent: 20px;
}
.timeline-teaser p:first-child {
  text-indent: 0;
}
.timeline-teaser-text {
  font-style: italic;
}
.timeline-teaser-text .inline-translation,
.timeline-teaser-text i,
.timeline-teaser-text em,
.timeline-teaser-text cite {
  font-style: normal;
}
