/* LESS variables to be used in all stylesheets;
 * also, classes that apply across pages
 */
.secret-link {
  color: black;
  cursor: pointer;
}
.secret-link:hover {
  color: #990000;
}
.dot-leaders {
  float: left;
  width: 0;
  white-space: nowrap;
  font-weight: normal;
  content: " . . . . . . . . . . . . . . . . . . ." " . . . . . . . . . . . . . . . . . . ." " . . . . . . . . . . . . . . . . . . ." " . . . . . . . . . . . . . . . . . . .";
}
.dot-leader-list {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding-left: 0px;
  overflow-x: hidden;
}
.dot-leader-list li {
  color: black;
  cursor: pointer;
  text-align: right;
  padding-bottom: 2px;
}
.dot-leader-list li:hover {
  color: #990000;
}
.dot-leader-list li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  font-weight: normal;
  content: " . . . . . . . . . . . . . . . . . . ." " . . . . . . . . . . . . . . . . . . ." " . . . . . . . . . . . . . . . . . . ." " . . . . . . . . . . . . . . . . . . .";
}
.dot-leader-list li span:first-child {
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-right: -0.2em;
  background: #97b5bb;
}
.bce {
  font-variant: small-caps;
  padding: 0 !important;
}
.posted-date {
  font-size: 0.8em;
}
.hanging-indent {
  text-indent: -20px;
  margin: 0 0 0 20px;
}
.poetry-line {
  display: block;
  text-indent: -20px;
  margin: 0 0 0 20px;
}
/*in teasers and quotation boxes*/
.ellipsis {
  font-style: normal;
  display: inline-block;
  font-size: 0.7em !important;
}
.inline-translation {
  font-style: normal;
  font-variant: small-caps;
}
.in-text-comment {
  font-style: italic;
  margin: 1em 60px;
}
/*------------------------*/
.border-radius-soft {
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.arrow-down {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #003399;
  font-size: 1px;
  height: 0;
  width: 0;
}
.arrow-up {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #003399;
  font-size: 0;
  height: 0;
  vertical-align: 6px;
  width: 0;
}
.arrow-right {
  border-left: 4px solid #003399;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  font-size: 0;
  height: 0;
  width: 0;
}
.down-arrow-link {
  color: black;
  cursor: pointer;
  color: #003399;
}
.down-arrow-link .arrow-down {
  font-size: 1.5px;
}
.down-arrow-link:hover {
  color: #990000;
}
.down-arrow-link:hover .arrow-down {
  border-top-color: #990000;
}
.browse-heading {
  padding: 0 10px;
}
.browse-heading h1 {
  border-bottom: 1px solid #364719;
  color: #990000;
  font-size: 3em;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
.small-command {
  font-family: Tahoma, Helvetica, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
}
.read-rest {
  font-family: Tahoma, Helvetica, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
}
.read-rest:hover {
  text-decoration: underline;
}
/*-------------
 * RESET
 * -----------*/
* {
  margin: 0;
  padding: 0;
}
/*-------------
 * ELEMENTS
 * ------------*/
hr {
  margin: 10px auto;
}
p {
  line-height: 130%;
  margin-bottom: 1em;
}
a {
  color: #003399;
  text-decoration: none;
}
a:hover {
  color: #990000;
}
/* <b> will be used to mark special span of text that doens't fit other
 * semantic markup. */
b {
  font-weight: normal;
}
/* If <q> tag is used, quotation marks will be included as part of the text,
 * due to inconsistent browser support. */
q:before,
q:after {
  content: "";
}
blockquote {
  font-family: Times New Roman, Times, serif;
  margin: 1em 0 1em 40px;
}
/*---------------
 * SKIP LINK (from http://webaim.org/techniques/skipnav/)
 *-------------*/
#skip,
#skip:hover,
#skip:visited {
  background-color: white;
  position: absolute;
  left: 0px;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#skip:active,
#skip:focus {
  position: static;
  width: auto;
  height: auto;
}
/*--------------
 * BASE LAYOUT
 * -------------*/
body {
  background-color: #687241;
  font-family: Calisto MT, Constantia, Georgia, serif;
  margin: 5px;
}
#wrapper {
  margin: 0 auto;
  max-width: 900px;
  min-width: 785px;
  overflow: auto;
}
#site-header,
#site-footer {
  background-image: url('/static/anthologist/images/leaf-border-green-black-sm.jpg');
  float: left;
  width: 100%;
}
#site-header {
  height: 40px;
}
#site-content-container {
  overflow: auto;
  width: 100%;
}
/*----------------
 * HEADER & FOOTER
 *----------------/

/*HEADER*/
#site-header-title {
  color: white;
  display: inline;
  margin: 0 15px;
}
#site-header-title #site-title-the {
  font-size: 1.2em;
}
#site-header-title #site-title-name {
  font-size: 1.9em;
}
#site-header-title:hover {
  color: #990000;
}
/* NAVIGATION MENU 
 * (some ideas from http://csswizardry.com/2011/02/creating-a-pure-css-dropdown-menu/) */
#site-header-nav {
  display: inline;
}
.navigation {
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 0.9em;
  list-style-type: none;
}
.navigation li {
  cursor: pointer;
  float: left;
  position: relative;
}
.navigation li a {
  color: white;
  display: block;
  height: 16px;
  padding: 12px;
}
.navigation li:hover a {
  background-color: #5d868f;
  color: black;
  opacity: 0.9;
}
/* The rules below relate to the "browse" dropdown, so only apply to the header. */
#site-header-nav .navigation {
  float: right;
}
#site-header-nav .navigation ul {
  background: rgba(255, 255, 255, 0);
  left: -9999px;
  list-style-type: none;
  position: absolute;
}
#site-header-nav .navigation ul li {
  float: none;
}
#site-header-nav .navigation ul li a {
  padding: 5px 10px;
  white-space: nowrap;
}
#site-header-nav .navigation li:hover ul {
  left: 0;
}
#site-header-nav .navigation li:hover ul li a:hover {
  background: #990000;
  color: white;
}
/* FOOTER */
#site-footer {
  font-family: Tahoma, Helvetica, sans-serif;
}
.get-copyright-info {
  cursor: pointer;
}
#copyright-info {
  background: white;
  clear: both;
  display: none;
  font-size: 0.75em;
  padding: 3px 5px;
}
#footer-facebook,
#footer-rss {
  float: right;
}
/*LAYOUT*/
#site-content-container {
  background-color: white;
}
#main {
  float: left;
  width: 75%;
}
#sidebar {
  background-color: #97b5bb;
  width: 25%;
  float: right;
}
#site-content-container {
  overflow: hidden;
}
#main,
#sidebar {
  margin-bottom: -10000px;
  padding-bottom: 10000px;
}
/*-------------------
 * MAIN
-------------------*/
#main-content {
  padding: 15px;
}
/*MAIN HEADING*/
#tag-type {
  text-transform: uppercase;
  color: #990000;
  font-size: 1.24em;
}
#browse-tag-type {
  margin-left: 5px;
  font-size: 0.85em;
}
#browse-tag-type a {
  color: black;
  cursor: pointer;
}
#browse-tag-type a:hover {
  color: #990000;
}
h1 {
  margin: 10px 0 0 0;
  font-size: 3em;
}
#nation-dates {
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 20px;
}
#view-highlights {
  font-family: Tahoma, Helvetica, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  margin: 0 0 15px 20px;
}
#tag-info {
  font-size: 0.9em;
  margin-bottom: 1em;
}
#tag-info ul {
  display: inline;
  list-style-type: circle;
}
#tag-info ul li {
  display: inline;
}
#tag-info ul li + li:before {
  content: "\2022 \0020";
}
#tag-info div {
  text-indent: 20px;
}
#tag-info div:first-child {
  text-indent: 0px;
}
b.def-altword {
  font-variant: small-caps;
}
b.def-altword:after {
  content: "\0020 : \0020";
}
/* ADJUSTORS */
#adjustor-container {
  background: #edf2f3;
  display: none;
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 0.75em;
  margin: 2px 0;
  padding: 5px 15px;
}
#adjustor-container select {
  font-family: Tahoma, Helvetica, sans-serif;
}
.adjustor-subcontainer {
  display: none;
}
#filter-container,
#page-select-container {
  margin-top: 3px;
}
.adjustor-section-label {
  color: #364719;
  float: left;
  padding: 1px 5px 0 0;
  text-align: right;
  width: 80px;
}
.adjustor-section-content {
  margin-left: 85px;
}
.remove-tag-x {
  color: #990000;
}
.remove-filter-list {
  display: inline;
  list-style-type: none;
  background: white;
  margin: 0 2px 2px 0;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-left: 5px;
}
.remove-filter-list li {
  display: inline-block;
  padding: 1px 3px;
  border: 1px solid darkgrey;
  margin: 0 0 0 5px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.remove-filter-list li:hover {
  background: #bd0000;
  color: white;
  cursor: pointer;
}
.remove-filter-list li:hover .remove-tag-x {
  color: white;
}
#clear-filters {
  color: black;
  cursor: pointer;
  color: #484848;
}
#clear-filters:hover {
  color: #990000;
}
/*----------
 * SIDEBAR
 *---------*/
.sidebar-section {
  border-bottom: 1px solid #ffffff;
  padding: 15px;
}
.sidebar-heading {
  color: #990000;
  font-size: 1.2em;
  text-transform: uppercase;
}
.instructions {
  font-size: 0.9em;
  margin-bottom: 20px;
}
.filter-type {
  display: none;
}
.related-tag-superlist {
  font-family: "Times New Roman", serif;
  font-size: 0.9em;
  list-style-type: none;
}
.related-tag-superlist li {
  font-weight: bold;
  margin-top: 5px;
  text-transform: uppercase;
}
.related-tag-list {
  list-style-type: none;
  padding-left: 10px;
}
.related-tag-list li {
  color: black;
  cursor: pointer;
  display: none;
  font-weight: normal;
  margin: 0 0 0 10px;
  text-indent: -10px;
  text-transform: none;
}
.related-tag-list li:hover {
  color: #990000;
}
.related-tag-list li:hover .filter-count {
  color: #990000;
}
.more-tags,
.fewer-tags {
  color: black;
  cursor: pointer;
  color: #003399;
  display: none;
  font-weight: normal;
  margin-left: 20px;
  text-transform: none;
}
.more-tags:hover,
.fewer-tags:hover {
  color: #990000;
}
.more-tags:hover .arrow-down,
.fewer-tags:hover .arrow-down {
  border-top-color: #990000;
}
.more-tags:hover .arrow-up,
.fewer-tags:hover .arrow-up {
  border-bottom-color: #990000;
}
.filter-count {
  color: #484848;
}
#suggest-selection {
  font-size: 0.9em;
  list-style-type: circle;
  padding-left: 20px;
}
#sidebar-contribute {
  border-bottom: none;
}
#sel-container {
  display: none;
}
.sel-item-container {
  padding: 15px;
}
.sel-item {
  overflow-x: hidden;
}
.sel-item h2 {
  background-color: white;
  display: inline;
  font-size: 1.1em;
  font-weight: bold;
  padding-right: 0.3em;
}
.sel-item h2:before {
  float: left;
  width: 0;
  white-space: nowrap;
  font-weight: normal;
  content: " . . . . . . . . . . . . . . . . . . ." " . . . . . . . . . . . . . . . . . . ." " . . . . . . . . . . . . . . . . . . ." " . . . . . . . . . . . . . . . . . . .";
}
.sel-info a {
  color: black;
  cursor: pointer;
}
.sel-info a:hover {
  color: #990000;
}
.sel-even,
.sel-even h2 {
  background-color: #e4eced;
}
.sel-teaser {
  font-family: Times New Roman, serif;
  font-size: 0.9em;
  margin: 5px 0 0 20px;
}
.sel-teaser p {
  margin-bottom: 0;
  text-indent: 20px;
}
.sel-teaser p:first-child {
  text-indent: 0;
}
.sel-teaser ul {
  padding: 0 0 1em 40px;
}
.sel-teaser-text {
  font-style: italic;
}
.sel-teaser-text .inline-translation,
.sel-teaser-text i,
.sel-teaser-text em,
.sel-teaser-text cite {
  font-style: normal;
}
/* BOTTOM PAGINATOR */
#bottom-pg-container {
  text-align: center;
}
#bot-pgs {
  margin-top: 10px;
}
.bot-pg,
.bot-pg-chg {
  color: #003399;
  cursor: pointer;
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 0.8em;
  margin: 0 3px;
  padding: 2px 4px;
}
.bot-pg {
  border: 1px solid grey;
}
.bot-pg:hover {
  background-color: #990000;
  color: white;
}
.bot-pg-chg:hover {
  color: #990000;
  text-decoration: underline;
}
.bot-pg-selected {
  color: black;
  background-color: #e4eced;
  font-weight: bold;
}
#bot-pg-changers {
  margin-top: 5px;
  font-variant: small-caps;
}
