/* glue: 0.3 hash: 5484e046f9 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidclark\/dev\/me\/django\/miniProject\/anthologist\/static\/anthologist\/style\/sass\/_sprite\.scss}line{font-family:\000035}}
.s-icn-twitter,
.s-icn-rss,
.s-icn-facebook,
.s-search {
  background-image: url("../../images/sprite/spriteable.png");
  background-repeat: no-repeat; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidclark\/dev\/me\/django\/miniProject\/anthologist\/static\/anthologist\/style\/sass\/_sprite\.scss}line{font-family:\000036}}
.s-icn-twitter {
  background-position: 0px 0px;
  width: 62px;
  height: 62px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidclark\/dev\/me\/django\/miniProject\/anthologist\/static\/anthologist\/style\/sass\/_sprite\.scss}line{font-family:\000037}}
.s-icn-rss {
  background-position: -62px 0px;
  width: 62px;
  height: 62px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidclark\/dev\/me\/django\/miniProject\/anthologist\/static\/anthologist\/style\/sass\/_sprite\.scss}line{font-family:\000038}}
.s-icn-facebook {
  background-position: 0px -62px;
  width: 62px;
  height: 62px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidclark\/dev\/me\/django\/miniProject\/anthologist\/static\/anthologist\/style\/sass\/_sprite\.scss}line{font-family:\000039}}
.s-search {
  background-position: -62px -62px;
  width: 27px;
  height: 27px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 200 / 100), only screen and (min-device-pixel-ratio: 2) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidclark\/dev\/me\/django\/miniProject\/anthologist\/static\/anthologist\/style\/sass\/_sprite\.scss}line{font-family:\0000313}}
  .s-icn-twitter,
  .s-icn-rss,
  .s-icn-facebook,
  .s-search {
    background-image: url("../../images/sprite/spriteable@2x.png");
    -webkit-background-size: 124px 124px;
    -moz-background-size: 124px 124px;
    background-size: 124px 124px; } }
