.icon-facebook-bare { background-image: url(png/facebook-bare.png); background-repeat: no-repeat; }

.icon-facebook { background-image: url(png/facebook.png); background-repeat: no-repeat; }

.icon-feed { background-image: url(png/feed.png); background-repeat: no-repeat; }

.icon-google-plus-bare { background-image: url(png/google-plus-bare.png); background-repeat: no-repeat; }

.icon-google-plus { background-image: url(png/google-plus.png); background-repeat: no-repeat; }

.icon-search { background-image: url(png/search.png); background-repeat: no-repeat; }

.icon-twitter-bare { background-image: url(png/twitter-bare.png); background-repeat: no-repeat; }

.icon-twitter { background-image: url(png/twitter.png); background-repeat: no-repeat; }