<article class="hyphenate">
	<h1>About the Site</h1>
	<section>
		<p><cite>The Anthologist</cite> shares the simple mission of all anthologies: to expose curious readers to exquisite writing and engrossing ideas.</p>
	</section>

	<section>
		<h2>What Makes <cite>the Anthologist</cite> Unique?</h2>
		<p>There are many other sites that publish <a href="http://en.wikipedia.org/wiki/Public_domain" target="_blank">public domain</a> texts; but several features distinguish <cite>the Anthologist</cite> from the rest. Pointing out these differences might be the best way to explain the site's purpose.
			<span id="more-about-uniqueness" class="show-about-hidden">[more <span class="arrow-down"></span>]</span>
		</p>
		<div id="about-hidden-uniqueness" class="about-hidden">
			<section>
				<h3>curation</h3>
				<p>Every one of <cite>the Anthologist</cite>'s texts has been <em>selected</em>, intentionally, by a living, sentient human being, with feelings, who hopes that other readers might enjoy something that he himself enjoyed.</p>
				<p>Nothing is added merely because it exists in the public domain, because it might garner more hits to the site, or because it is "a classic".</p>
				<p><cite>The Anthologist</cite> is not a public domain warehouse, and does not aspire to archival completeness or scholarly authority: It is a curated <em>collection</em> &#8212; not unlike a private art collection &#8212; made publicly available by the Powers of Internet.</p>
			</section>
			<section class>
				<h3>readability</h3>
				<section>
					<h4>length</h4>
					<p><cite>The Anthologist</cite> will not publish entire novels or treatises or multi-hundred-page monographs, won't link you to volumes you might think you should read but probably won't read. Instead, <cite>the Anthologist</cite> gathers complete short works and excerpts from longer works &#8212; then provides links so that you can continue reading, if you'd like, and finish the volume.</p>
					<p>Consuming long books is good for you, of course; but there is no shame in reading <a href="/selections/i-laugh-at-all">a fantastic excerpt from <cite>The Anatomy of Melancholy</cite></a> instead of downloading the full elephantine bulk of it to your eReader, where it will languish until the end of time.</p>
				</section>
				<section>
					<h4>format</h4>
					<p><cite>The Anthologist</cite>'s selections are formatted to make online reading as pleasant as can be, with a clean layout and adjustable display, and without the clutter and wrack that repulses so many readers from online text.</p>
				</section>
			</section>
			<section>
				<h3>ease of exploration</h3>
				<p><cite>The Anthologist</cite> provides simple and straightforward means to follow-up on your interests, explore the collection, and discover new stuff worth reading. Most online collections can be browsed by author, maybe by date; at <cite>the Anthologist</cite>, you can browse by
					<a href="/authors">author</a>,
					<a href="/timeline">date</a>,
					<a href="/nations">nation</a>,
					<a href="/languages">original language</a>,
					<a href="/forms">form</a>,
					<a href="/genres">genre</a>,
					<a href="/contexts">context</a>,
					<a href="/topics">topic</a>, and
					<a href="/authors">style</a>.
					You can also dig through <a href="/highlights">highlights from the selections</a>.
				</p>
				<p><cite>The Anthologist</cite>'s tags connect selections, forming paths that readers can follow from one text to another.</p>
			</section>
			<section>
				<h3>the feed</h3>
				<p>Diversify your web-reading diet by <a href="feed/">adding <cite>the Anthologist</cite> to your RSS feeds</a>. Alongside the latest celebrity gossip and apocalypse predictions, you'll receive classics and curiosities in the public domain as they are added to <cite>the Anthologist</cite>'s collection.</p>
			</section>
			<p>(To find other sites that do other things with the public domain, <a href="/resources">have a look at the links on the resources page</a>.)</p>
		</div>
	</section>
	<section>
		<h2>Who's Behind <cite>the Anthologist</cite>?</h2>
		<p><cite>The Anthologist</cite> is the work of one of the world's David Clarks (<a href="/selections/i-laugh-at-all"><i>... parvus sum, nullus sum, altum nec spiro, nec spero</i></a>).
			<span id="more-about-me" class="show-about-hidden">[more <span class="arrow-down"></span>]</span>
		</p>
		<div id="about-hidden-me" class="about-hidden">
			<p>He was led to this labor by his own idiosyncratic reading habits, academic studies, and teaching experience &#8212; by years of seeking out delightful, edifying, and unusual works; developing an appreciation for the aesthetics of ages past; engaging more and more with electronic texts; hunting for freely-reproducible, high-quality readings to feed his students; and always aspiring to keep track, somehow, of the best stuff he'd found, so he could re-read it himself and share it with others.</p>
			<p>This David Clark is just one man. So he could use your help, if you're interested in getting involved. All aspects of the site would benefit from more input: the text collection, the programming, the design, the cataloging. <a href="/contribute">Please contribute if you're interested</a>.</p>
		</div>
	</section>
</article> 