.sidebar-block
	h1
		a(href="/browse") browse
	span
		| Explore selections by
		ul#home-browse-list
			<li><a href="/authors/">author</a></li>
			<li><a href="/timeline/">timeline</a></li>
			<li><a href="/forms/">form</a></li>
			<li><a href="/genres/">genre</a></li>
			<li><a href="/topics/">topic</a></li>
			<li><a href="/contexts/">context</a></li>
			<li><a href="/styles/">style</a></li>
			<li><a href="/nations/">nation</a></li>
			<li><a href="/languages/">original language</a></li>
		| &#8212; or <a href="/selections">see them all at once</a>.

a(href="/selections/random").sidebar-block
	h1 random
	span Let fate decide what you read &#8212; as it decides so much else.

a(href="/feed").sidebar-block
	h1 subscribe&nbsp;
		img(src="/static/anthologist/images/icons/feed-icon-12x12-green.png")
	span Add the Anthologist's RSS feed to your collection.

a(href="/contribute").sidebar-block
	h1 contribute
	span Send selections, questions, suggestions, comments, kind words, assistance, &amp;c.

a(href="/resources").sidebar-block
	h1 links &amp; sources
	span Pore over links to related sites, and a complete list of sources for the Anthologist's selections.
	
img(src="/static/anthologist/images/silly-scholar.jpg", alt="silly-eyed scholar")#silly-scholar-image

#quotation-container
	//populated by quotation-box-app.js
