{% extends "base.html" %}
{% block title %}Page Not Found - The Gentle Reader{% endblock %}
{% block meta %}
{% endblock %}
{% block bottomscripts %}<!-- grunt-inactive: dev<script src="{{ STATIC_URL }}gentlereader/scripts/only-highlight-main.js"></script><endgrunt>--></endgrunt><!-- grunt-active: build --><script>require(['{{ STATIC_URL }}gentlereader/build/common-build.js'], function(common) {
  require(['only-highlight-main'], function(homeMain) {});
});</script><!-- endgrunt -->{% endblock %}
{% block main %}<div class="content"><article><header><h1 class="h1">Page Not Found</h1></header><div class="s-text main-c"><p>You must have mistyped a URL, or come here from a bad link. But that's ok.</p><p>I suggest you <a href="http://thegentlereader.net">return to The Gentle Reader homepage</a>.</p></div></article><aside class="extras-c"><div class="rq-container"><div class="rq-backdrop"></div><div id="rqTop" class="rq-body"><h2 class="h3">A Random Highlight</h2><div id="rqContent" class="rq-content"></div><div class="rq-utils"><div class="rq-another">Get Another Highlight</div><div class="rq-close">close</div></div></div></div></aside><div class="rq-btn">Read a Random Highlight</div></div>{% endblock %}