
<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-text"><a href="/" class="footer-title">The Gentle Reader</a> is an ever-growing, explorable anthology of carefully curated selections from texts in the public domain. <a class="footer-about" href="/about">Read more about the site.</a></div>
    <ul class="footer-links">
      <li><a href="#" class="footer-link">Selections</a></li>
      <li><a href="#" class="footer-link">Highlights</a></li>
      <li><a href="#" class="footer-link">Announcements</a></li>
      <li><a href="#" class="footer-link">Links &amp; Sources</a></li>
      <li><a href="#" class="footer-link">Contact</a></li>
      <li><a href="#" class="footer-link">Copyright Info.</a></li>
    </ul>
  </div>
</footer>