
{% extends "base.html" %}
{% block title %} Highlight &#35;{{ h.pk }}, from {{ h.selection.source.author.full_name }} - The Gentle Reader{% endblock %}
{% block bottomscripts %}
<!-- grunt-inactive: dev
<script src="{{ STATIC_URL }}anthologist/scripts/only-hyphenation-main.js"></script>
<endgrunt>--></endgrunt><!-- grunt-active: build -->
<script>
  require(['{{ STATIC_URL }}anthologist/build/common-build.js'], function(common) {
    require(['only-hyphenation-main'], function(homeMain) {});
  });
</script><!-- endgrunt -->
{% endblock %}
{% block main %}
<div class="content">
  <div id="single-highlight-container">
    <div class="hl-body hyphenate">{{ h.get_quotation }}</div>
    <div class="hl-about">{{ h.get_source }}</div>
  </div>
  <div class="hl-links"><a href="/selections/{{ h.selection.slug }}" class="hl-link">Read this full selection</a><a href="/highlights/&amp;#35;{{ h.selection.source.author.slug }}" class="hl-link">See more highlights from {{ h.selection.source.author.full_name }}</a><a href="/highlights/random" class="hl-link">Enjoy a random highlight</a><a href="/highlights" class="hl-link">Browse all highlights</a></div>
</div>{% endblock %}