#author-container
	#close-authors close
	h2#author-command select an author
	#sort-container.adjustor-subcontainer
		label#sort-label(for="sort-field") sort order :
		select#sort-field.sort-select
			option(value="last_name") last name
			option(value="birth_year") birth year
		select#sort-direction.sort-select
			option(value="asc")	ascending
			option(value="des") descending
	#author-content
		ul#author-list
	h2.auth-sidebar-random .&nbsp;.&nbsp;.&nbsp;or view a few random highlights
#quotation-list-container
	#quotation-header
	#browse-all.show-hide browse more highlights by author
	#hide-authors.show-hide hide author list
	ul#quotation-list