{% if category == 'contexts' %}
<p class="category-definition">
	Historical terms referring to chronological periods, cultural epochs, artistic movements, political dynasties, &amp;c.
</p>
<p>
	<cite>The Anthologist</cite> lumps these together into one category, instead of struggling to define subcategories and enforce fine lines (<i>e.g.</i> Is <a href="renaissance">the Renaissance</a> a period, movement, epoch, or something else?), because all these terms serve in the same way to describe a <em>context</em> that multiple selections might share.
</p>

{% elif category == 'forms' %}

<p class="category-definition">
	Very broad categories describing a selection's source material; the most general designations concerning content (such as "nonfiction", "fiction", and "poetry") and length ("short-form" or "long-form").
</p>
<p>
	A word about "short-form" <i>vs</i> "long-form": A "short-form" source is a self-contained work readable in one or two temperate sittings by an average literate human (<i>e.g.</i> short stories, letters, articles, most essays). Though "short-form" sources may be heaped together and bound in the most massive of massive volumes, each could still be extracted and stand alone. An encyclopedia, for instance, is long, but all of its content is short-form writing. A "long-form" source was intended by its author to consume a more significant segment of the reader's lifespan, over numerous sittings (<i>e.g.</i> novels and nonfiction books).	
</p>

{% elif category == 'topics' %}

<p>
	In nonfiction, "topics" are usually apparent and openly addressed. (Though not always.) On the other hand, in most fiction there are multiple layers to what the work is "about". (<i>e.g.</i> The Road Runner cartoons are about a predator pursuing prey; they are also, one might argue, about the ruthlessness of desert landscapes, Fate frustrating our best-laid plans, and tireless defiance of ultimate futility.) <cite>The Anthologist</cite> designates both surface-level topics and more subtle themes in order to weave together selections in many and meaningful ways.
</p>

{% elif category == 'styles' %}

<p class="category-definition">
	Formal elements of the text that (a) are noteworthy, and (b) might help readers find more of what they like.
</p>
<p>
	For example, if you're like me, you like Robert Burton's <a href="sprawling-sentences">sprawling sentences</a> and overflowing <a href="lists">lists</a> &mdash; so contrary to the orthodox contemporary style &mdash; and would like to read other authors who use similar patterns.
</p>

{% elif category == 'genres' %}

<p>
	This category should speak for itself. If it doesn't speak to you, you could <a href="http://en.wikipedia.org/wiki/Genre" target="_blank">read some of this</a>.
</p>

{% endif %}
