<div class="sidebar-block">
	<h1>
		<a href="/browse">browse</a>
	</h1>
	<span>
		Explore selections by
		<ul id="home-browse-list">
			<li><a href="/authors/">author</a></li>
			<li><a href="/highlights/">highlights</a></li>
			<li><a href="/timeline/">timeline</a></li>
			<li><a href="/forms/">form</a></li>
			<li><a href="/genres/">genre</a></li>
			<li><a href="/topics/">topic</a></li>
			<li><a href="/contexts/">context</a></li>
			<li><a href="/styles/">style</a></li>
			<li><a href="/nations/">nation</a></li>
			<li><a href="/languages/">original language</a></li>
		</ul>
		&mdash; or
		<a href="/selections">see them all at once</a>.
	</span>
</div>
<a href="/selections/random" class="sidebar-block">
	<h1>random</h1>
	<span>Let fate decide what you read &mdash; as it decides so much else.</span>
</a>
<a href="/feed" class="sidebar-block">
	<h1>
		subscribe&nbsp;
		<img src="/static/anthologist/images/icons/feed-icon-12x12-green.png" />
	</h1>
	<span>Add the Anthologist's RSS feed to your collection.</span>
</a>
<a href="/contribute" class="sidebar-block">
	<h1>contribute</h1>
	<span>Send selections, questions, suggestions, comments, kind words, assistance, &amp;c.</span>
</a>
<a href="/resources" class="sidebar-block">
	<h1>links &amp; sources</h1>
	<span>Pore over links to related sites, and a complete list of sources for the Anthologist's selections.</span>
</a>
<img src="/static/anthologist/images/silly-scholar.jpg" alt="silly-eyed scholar" id="silly-scholar-image" />
<div id="quotation-container">
</div>