// ELEMENTS

*
  @include box-sizing(border-box)

html,
body
  @include box-sizing(content-box)

body
  background: $c-bg
  color: $c-base
  font-family: $f-base
  min-width: em(320)
  overflow-x: hidden

ul
  @extend %unstyled-list

a,
a:visited
  border-bottom: 1px dotted transparent
  color: $c-link
  text-decoration: none
  &:active,
  &:hover
    border-bottom-color: $c-link-hover
    color: $c-link-hover

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $f-heading
  font-weight: normal

b
  font-weight: normal

input[type="search"],
input[type="email"],
input[type="text"],
textarea
  +appearance(none)
  +transition(all 0.4s)
  background: white
  outline: none
  &:focus
    box-shadow: 0 0 7px $c-emphatic


// FONTS
// im fell loaded via google fonts
+font-face('fellorn', '../fonts/fell-flowers/imfellorn-custom')
+font-face('Crimson', '../fonts/crimson/crimson-roman-webfont')
+font-face('Crimson', '../fonts/crimson/crimson-italic-webfont', normal, italic)
+font-face('CrimsonCaps', '../fonts/crimson/crimson-roman-sc-onum-webfont')


// LAYOUT

.content
  @extend %clearfix
  @extend .inner-c
  padding: 1.5em 1.2em 0 1.2em

  +breakpoint(desktop)
    padding: 2.5em 1.5em 0 1.5em


.main-c
  margin: 1.5em auto

  +breakpoint(desktop)
    margin: 1.5em 0
    float: left
    max-width: 55%
    width: 55%

.extras-c
  margin: 1.5em auto
  width: 320px
  +breakpoint(desktop)
    float: right
    overflow: visible
    padding-left: 10%
    width: 45%


// STYLES

%styled-input
  border: 1px solid $c-subtle
  //border-radius: 5px
  min-height: 35px
  padding: 5px
  +placeholder
    font:
      family: $f-heading
      size: 1.1em
      style: italic


// WEIRD STUFF CORRECTION

b,
strong
  line-height: 1
