// hide the list on paginated pages: JS will fill in, show
.browsec-paginated .main-c
  display: none


// WAYS TO BROWSE

.waystobrowse
  @extend %clearfix
  margin-bottom: 2em

.waystobrowse-i
  float: left
  padding: 0 5px 0 15px
  text-transform: capitalize
  width: 50%

  &:before
    content: "~"
    margin-left: -15px


// TAGS

#tag-container
  max-width: 20em

  +breakpoint(desktop)
    max-width: 55%
    width: 55%

#tag-list
  margin-left: -0.3em
  overflow-x: hidden
  overflow-y: hidden

.taglist-i,
.taglist-i:visited
  +hanging-indent(1em)
  @extend %hover-highlight
  border: none
  color: $c-base
  display: block
  font-family: $f-heading
  font-size: 1.5em
  font-style: italic
  line-height: 1.1
  padding: 0.3em 0 0.3em 0.3em
  position: relative

  &:after
    @extend %dot-leaders

.taglist-i-inner
  background: $c-bg
  padding-right: 0.36em


// AUTHORS

.browse-author-dates
  font:
    size: 0.8em
    style: normal


// ANNOUNCEMENTS

.ann-li
  &:not(:first-child)
    margin-top: 2em

.ann-li-h
  border-bottom: 1px dotted $c-subtle
  font:
    family: $f-heading
    size: 1.7em

.ann-li-date
  color: $c-subtle
  text-align: right

.ann-li-body
  ul
    list-style: circle
    margin-left: 20px
  li
    font-style: italic
    margin: 0.5em 0

.read-more-ann
  font:
    family: $f-heading
    style: italic
  text-align: center
  a
    &:before,
    &:after
      content: "--"
      margin: 0 0.3em