.field-wrapper
  margin-bottom: 1em

#contact-form

  label
    display: block
    font-style: italic
    margin-top: 1em
    &.cc-label
      display: inline
      vertical-align: middle


  input:not(#recaptcha_response_field),
  textarea
    @extend %styled-input
    display: block
    width: 100%
    &#id_cc_myself
      display: inline
      margin-left: 1em
      width: auto
      vertical-align: middle



#recaptcha-wrapper
  margin: 0 -1.2em
  text-align: center

#recaptcha_area
  margin: 0 auto

.errorlist
  color: $c-emphatic
  font-style: italic

#contact-submit
  background: whitesmoke
  border: 2px solid $c-link !important
  color: $c-link
  margin: 0 auto
  max-width: 20em
  margin-top: 2em
  text-transform: uppercase
  &:hover
    border: 2px solid $c-emphatic !important
    color: $c-emphatic


.thanks-txt
  text-align: center
  +breakpoint(desktop)
    text-align: left

.thanks-image
  background: url("../../images/reader-scholar-nr.png") no-repeat center center
  background-size: contain
  padding-top: 90%
  +hidpi(1.5)
    background-image: url("../../images/reader-scholar.png")