$icn-y: 62px

.subscribe.u-footer
  background: whitesmoke
  border-top: 2px solid $c-subtle
  margin-top: 2em
  text-align: left

  .inner
    max-width: $site-x
    margin: 0 auto
    padding: 10px 1.2em
    +clearfix

  .subscribe-icons
    +clearfix
    float: right
    span
      color: $c-subtle
      display: none
      font-family: $f-heading
      font-size: 1.2em
      font-style: italic
      margin-right: 0.3em
      vertical-align: middle
      @media (min-width: 34.375em)
        display: inline-block

  .subscribe-icon
    display: inline-block
    float: none
    vertical-align: middle
    &.mod-rss
      @extend %s-all-icn-rss-sm
    &.mod-twitter
      @extend %s-all-icn-twitter-sm
    &.mod-facebook
      @extend %s-all-icn-facebook-sm

.site-footer
  +clearfix
  background: $c-subtle
  color: white
  text-align: center

.footer-inner
  margin: 0 auto
  padding: 1em 1em 1.5em 1em
  max-width: $site-x

  a,
  a:visited
    border-bottom: 1px dotted white
    color: white
    &:hover
      border-bottom-color: $c-emphatic

.footer-col
  float: left
  min-width: 200px
  padding: 1em
  width: 25%
  &.footer-text
    width: 50%

.footer-title
  font:
    size: 1.2em
    variant: small-caps

.footer-description
  float: left
  margin-right: 1em
  width: 100%

.footer-about
  display: inline-block
  &:before
    content: "1 "
    font-family: fellorn

.footer-links
  +clearfix
  margin: 1em auto 0 auto

.footer-link,
.footer-link:visited
  color: rgb(201,199,199) !important
  font-size: 0.8em
  float: left
  line-height: 2
  text-transform: uppercase
  width: 50%


.footer-copyright
  background: white
  color: $c-subtle
  display: none
  margin-top: 1.5em
  padding: 1em
  position: relative
  a,
  a:visited
    color: $c-emphatic

.x-copyright
  font-size: 2em
  position: absolute
  top: 0
  right: 10px
  line-height: 1


.close-copyright
  @extend %dingled
  display: inline-block
  font:
    family: $f-heading
    size: 1.2em
    style: italic
  text-align: center

.x-copyright,
.close-copyright
  cursor: pointer
  &:hover
    color: $c-emphatic

+breakpoint(mobile)
  .subscribe.u-footer
    text-align: center
    .subscribe-icons
      float: none

+breakpoint(desktop)

  .footer-links
    +inline-list("\00a0/\00a0")

  .footer-link
    float: none
    width: auto