.search-content
  .search-form
    +breakpoint(desktop)
      margin: 0

.search-h
  @extend .h1
  margin-bottom: 0.75em

.search-header
  text-align: center

.search-query
  @extend %h-subtitle
  margin: 0.3em 0 1em 0
  +breakpoint(desktop)
    text-align: left

.search-page-category
  @extend %h-postscript
  margin: 0.3em 0

.search-results-list
  font-size: 1.2em
  list-style-type: disc
  margin: 0.5em 0 1em 0
  padding-left: 1em