/* =====================
 * SELECTION
 * ===================== */

/* selection heading
 * ---------- */

.s-headline
  text-align: center


.s-title
  @extend %h--grand-title


.s-authordate
  @extend %h--subtitle

.s-info
  margin-top: 1em
  font-size: 1.1em
  +breakpoint(desktop)
    margin-top: 0
    font-size: 1em


/* selection extras:
 * highlight and top tag list
 -----------------------*/

.s-extras
  @extend %two-buttons
  .uft-group
    .uft-a
      display: inline-block
    .uft-b
      display: none

    &.uft-on
      .uft-a
        display: none
      .uft-b
        clear: both
        display: block

.s-extras--trigger
  @extend %two-buttons--trigger

  &.u-wide
    width: 100%

  &.u-left
    &.u-wide
      margin-bottom: 0.5em

$s-extras--heading-y: 40px

.s-extras--title
  @extend %h--sidebar

.s-extras--utils
  color: $c-link
  cursor: pointer
  float: right

.s-extras--utils-i
  border-bottom: 1px dotted $c-link
  color: $c-link
  font-size: 0.75em
  text-transform: uppercase
  &:last-child
    margin-left: 1em
  &:hover
    color: $c-link-hover
    border-bottom-color: $c-link-hover


/* selection extras: highlight */

.s-highlight
  border-top: $double
  padding: 1em 0

.s-highlight--text
  @extend %txt--sidebar-highlight

.s-highlight--li
  &.u-inactive
    opacity: 0
    position: absolute
    top: 0
    width: 100%
    z-index: -1000
  &.u-active
    position: static

.s-highlight--all
  font:
    family: $f-base
    size: 0.8em
  text-align: center
  text-transform: uppercase
  a
    position: relative

  &:before
    content: "1 "
    font-family: fellorn

/* selection extras: tag list (top and bottom) */

.s-tags
  padding-bottom: 1.5em

  &.u-top
    border-bottom: $double

  .tag-sublist-label
    display: inline
    line-height: 1
    &:after
      content: "\00a0:\00a0"

  .tag-sublist
    display: inline
    +inline-list(";\00a0")

.s-tags--inst,
.s-highlight--timeline
  &:before
    content: "\00bb\00a0"
  color: $c-subtle


/* textual comments
 * ----------------- */

.s-comment
  font-style: italic
  margin: 2em auto 0 auto
  max-width: 500px
  &:after
    +hr
    margin: 1em auto 1em auto


/* selection text
 * ---------------- */

=drop-cap
  font:
    family: $f-heading
    size: 3em
    style: normal
  float: left
  line-height: 1.2
  padding-right: 0.05em
  text-transform: uppercase
  +breakpoint(desktop)
    font-size: 4em
    line-height: 1

.s-text
  @extend %indented-p
  font-size: 1.2em
  line-height: 1.5
  margin: 1.5em auto 0 auto
  max-width: 520px

  blockquote
    margin-top: 0

  p:not(.poetry-line),
  blockquote
    margin-bottom: 0.5em
    .poetry-line
      font-size: 0.9em
      color: $c-subtle

  section
    margin-bottom: 2em

  .poetry-line
    text-align: left

  .sel-body-subheading
    font-variant: small-caps
    margin: 0 0 1em 0
    text-align: center

  // top line decoration
  > p:first-of-type,
  > section:first-of-type > p:first-of-type:not(.poetry-line)
    // style first letter
    &:first-letter
      +drop-cap

    // style first line
    &:first-line
      font:
        size: 1.7em
        variant: small-caps

      line-height: 1.3

  > section > p:first-of-type:not(.poetry-line)
    &:first-letter
      +drop-cap
      font-family: $c-base

  &:after
    content: "a"
    display: block
    font-family: fellorn
    line-height: 0.4
    margin: 0.7em auto 0 auto
    margin-top: 1em
    max-width: 520px
    text-align: center


/* postscript
 * ------------ */

.s-postscript
  +clearfix
  margin-top: 3em
  p
    text-align: center

.s-postscript--h3
  @extend %h--postscript


/* related selections */

.li-rsel
  +clearfix
  margin-bottom: 1em
  position: relative

  .uft-b
    +transition(opacity $trans-time)
    height: 0
    opacity: 0
  &.uft-on
    .uft-a
      display: none
    .uft-b
      height: auto
      opacity: 1

.li-rsel--info
  font-size: 1.2em

.show-teaser
  border-bottom: 1px dashed transparent
  color: $c-link
  cursor: pointer
  display: inline-block
  font:
    size: 0.8em
  margin: 0.2em 0 0 2em
  text-transform: uppercase

  &:before
    +arrow(4, $c-link, right)

  &:hover
    +transition( (color $trans-time, border-bottom-color $trans-time) )
    color: $c-emphatic
    border-bottom-color: $c-emphatic
    &:before
      +transition(border-left-color $trans-time)
      border-left-color: $c-emphatic

.li-rsel--teaser
  color: $c-subtle
  line-height: 1.3
  margin: 0em 0 0 30px

.li-rsel--shares
  display: inline
  line-height: 1.5

.li-rsel--shares--ul
  +inline-list('\00a0;\00a0', inline)
  display: inline
  margin-right: 0.5em
  ul
    display: inline
    +inline-list(', ', inline)
    > li:first-child:nth-last-child(2):after
      // no comma if there's only two items
      content: " "


.li-rsel--category
  font-variant: small-caps
  text-transform: capitalize

.li-rsel--tag,
.li-rsel--tag:visited
  color: $c-subtle
  font-style: italic
  border-bottom: 1px dotted $c-subtle


/* postscript dates */

.s-dates
  color: $c-subtle
  font-size: 0.95em
  font-style: italic
  margin-top: 2em
  text-align: center
  &:before
    +hr


/* =========================
 * SELECTION MEDIA QUERIES
 * =========================*/

+breakpoint(desktop)

  .s-headline
    font-size: 1.3em
    text-align: left

  .s-info
    margin-top: 1em
    &:before
      height: 0

  .s-comment
    margin: 2em 0 0 0
    &:after
      display: none

  .s-extras
    float: right
    min-width: 20em
    padding: 2em 0 3em 3em
    width: 40%

    .uft-group
      .uft-a
        display: none
      .uft-b
        display: block
        height: auto
        opacity: 1
        .uft-trigger
          display: none

  .s-tags.u-top
    margin-top: 1em

  .s-tags.u-bottom
    &:before
      background: none
      margin: 1em

  .s-text
    margin: 0

    &:before
      display: block
      content: "N"
      font-family: fellorn
      font-size: 2.5em
      line-height: 1
      margin: 0.75em 0
      text-align: center

    &:after
      background: none
      height: auto

  .s-text-bottom-orn
    margin-top: 0.7em
    max-width: 520px

  .s-postscript
    p
      text-align: left

  .s-postscript--h2
    text-align: left

  .s-postscript--col
    &.u-first
      float: left
      padding-right: 5%
      width: 70%
    &.u-second
      float: right
      width: 30%