#tag-container.main-c
  include page-and-sort

  ul#tag-list.taglist

    {% for t in tags %}
    li: a(href="{{ t.slug }}").taglist-i

      {% if category == "authors" %}
      span.taglist-inner {{ t }} <span class="browse-author-dates">({{ t.dates }})</span>

      {% else %}
      span.taglist-inner {{ t }}

      {% endif %}
    {% endfor %}