.site-nav--container
  nav.site-nav
    a(href="/").site-nav--title <span class="title-the">The</span> <span class="title-gentle">Gentle</span> <span class="title-reader">Reader</span>
    ul.site-nav--ul
      li.site-nav--li.nav-about: a(href="/about") About
      li.site-nav--li.nav-browse Browse
      li.site-nav--li.nav-search Search
  a.fixed-back(href="#") (top)

  .subnav-browse--container
    .subnav-browse--inner
      .subnav-browse--h
        span.subnav-browse--close.u-top &times;
        | Contents
      include table-of-contents
      .subnav-browse--close.u-bottom close

  .nav-search--container
    form.search-form
      input.search-input(type="search", placeholder="Search for an author, a title, &c.")
      input.search-submit.s-search(type="submit", value="Submit")
