.sitenav-c
  nav.sitenav
    a(href="/").sitenav-title <span class="title-the">The</span> <span class="title-gentle">Gentle</span> <span class="title-reader">Reader</span>
    ul.sitenav-menu
      li.sitenav-menu-i.nav-about-btn: a(href="/about") About
      li.sitenav-menu-i.js-nav-browse-btn Browse
      li.sitenav-menu-i#navSearchBtn Search
  #toTop.backtotop

  #navBrowse.nav-browse
    .nav-browse-inner
      .nav-browse-h
        .js-nav-browse-btn.close-x &times;
        | Contents
      include table-of-contents
      .js-nav-browse-btn.close-verbose close

  #navSearch.nav-search
    form.search-form
      input.search-input(type="search", placeholder="Search for an author, a title, &c.")
      input.search-submit(type="submit", value="Submit")
