<!-- grunt-active: dev -->
script(src="{{ STATIC_URL }}anthologist/scripts/only-highlight-main.js")
<!-- endgrunt -->

<!-- grunt-inactive: build
script
  require(['{{ STATIC_URL }}anthologist/build/common-build.js'], function(common) {
    require(['only-highlight-main'], function(homeMain) {});
  });
endgrunt -->