<!-- grunt-inactive: dev
script(src="{{ STATIC_URL }}gentlereader/scripts/only-highlight-main.js")
endgrunt -->

<!-- grunt-active: build -->
script
  require(['{{ STATIC_URL }}gentlereader/build/common-build.js'], function(common) {
    require(['only-highlight-main'], function(homeMain) {});
  });
<!-- endgrunt -->