li.li-rsel.j-accItem.u-inactive
  .rsel-info-container
  
    a(href="/selections/{{ item.selection.slug }}").li-rsel--info
      span.li-rsel--title &ldquo;{{ item.selection.get_title }}&rdquo; 
      | by <i>{{ item.selection.source.author.last_name }}</i>&nbsp;
      | ({{ item.selection.source.date_display }})
    
    .li-rsel--shares &mdash;&nbsp;which shares
      ul.li-rsel--shares--ul
        {% for category, tags in item.share.items %}
        li
          | {% if item.share.items|length > 1 and forloop.last %}and {% endif %}
          | the <span class="li-rsel--category">{{ category }}</span>
          ul
            {% for tag in tags %}
            li
              | {% if tags|length > 1 and forloop.last %}and {% endif %}
              a(href="#").li-rsel--tag {{ tag }}
            {% endfor %}
        {% endfor %}
        {% if item.more %}
        li and more&nbsp;...
        {% endif %}
  
  .show-teaser.j-accTrigger.j-accExpand read teaser
      
  .li-rsel--teaser.j-accBody
    span.teaser-text.hyphenate {{ item.selection.get_teaser }}
    a(href="/selections/{{ item.selection.slug }}").read-on read&nbsp;on

  