li.li-rsel.uft-group
  .rsel-info-container

    a(href="/selections/{{ item.selection.slug }}").li-rsel--info
      span.li-rsel--title &ldquo;{{ item.selection.get_title }}&rdquo; by <i>{{ item.selection.source.author.last_name }}</i>&nbsp;({{ item.selection.source.date_display }})

    .li-rsel--shares &nbsp;&mdash;&nbsp;which shares
      ul.li-rsel--shares--ul
        {% for category, tags in item.share.items %}
        li
          | {% if item.share.items|length > 1 and forloop.last %}and {% endif %}
          | the <span class="li-rsel--category">{{ category }}</span>
          ul
            {% for tag in tags %}
            li
              | {% if tags|length > 1 and forloop.last %}and {% endif %}
              {% if category != "source" %}
              a(href="/{{ tag.get_category }}/{{ tag.slug }}").li-rsel--tag {{ tag }}
              {% else %}
              span.li-rsel--tag {{ tag }}
              {% endif %}

            {% endfor %}
        {% endfor %}
        {% if item.more %}
        li and more&nbsp;...
        {% endif %}

  .show-teaser.uft-trigger.uft-a read teaser

  .li-rsel--teaser.uft-b
    span.teaser-text.hyphenate {{ item.selection.get_teaser }}
    a(href="/selections/{{ item.selection.slug }}").read-on read&nbsp;on

