li.selectioninlist
  section: a(href='/selections/{{ s.slug }}')
    h3.selectioninlist-title {{ s.get_title }}
    .selectioninlist-details
      span.selectioninlist-author {{ s.get_author }}.
      {% if s.from_display %}
      {{ s.from_display }}
      {% endif %}
      | ({{ s.source.date_display }}). <span class="selectioninlist-posttime">Posted {{ s.date_entered }}</span>

  section.selectioninlist-teaser
    span.teaser-text.hyphenate {{ s.get_teaser }}
    a(href='/selections/{{ s.slug}}').read-on read&nbsp;on