.share-i-container
  a.shareit-i.m-facebook(href="https://www.facebook.com/dialog/feed?app_id=1394114264142120&link=http://thegentlereader.net/selections/{{ selection.slug }}&redirect_uri=http://thegentlereader.net/selections/{{ selection.slug }}", target="_blank") Share on Facebook
  a.shareit-i.m-twitter(href="http://twitter.com/share?text='{{ selection }}', by {{ selection.get_author }}; brought to you by The Gentle Reader.&url=http://thegentlereader.net/selections/{{ selection.slug }}", target="_blank") Share on Twitter
  a.shareit-i.m-gplus(href="https://plus.google.com/share?url=http://thegentlereader.net/selections/{{ selection.slug }}", target="_blank") Share on Google Plus