a(href="/feed", target="_blank").subscribe-icon.mod-rss Subscribe to the RSS Feed
a(href="https://twitter.com/aGentleTweeter", title="@aGentleTweeter", target="_blank").subscribe-icon.mod-twitter Follow us on Twitter
a(href="https://www.facebook.com/TheGentleReader", target="_blank").subscribe-icon.mod-facebook Follow us on Facebook