ul.toc
  li: a.toc-i(href="/highlights")
    span Highlights
    span.toc-no i
  li: a.toc-i(href="/selections")
    span All Selections
    span.toc-no ii
  li: a.toc-i(href="/authors")
    span Authors
    span.toc-no iii
  li: a.toc-i(href="/timeline")
    span Timeline
    span.toc-no iv
  li: a.toc-i(href="/forms")
    span Forms
    span.toc-no v
  li: a.toc-i(href="/genres")
    span Genres
    span.toc-no vi
  li: a.toc-i(href="/topics")
    span Topics
    span.toc-no vii
  li: a.toc-i(href="/contexts")
    span Contexts
    span.toc-no viii
  li: a.toc-i(href="/nations")
    span Nations
    span.toc-no ix
  li: a.toc-i(href="/languages")
    span Original Languages
    span.toc-no x
  li: a.toc-i(href="/announcements")
    span Announcements
    span.toc-no xii