.poem-quote {
  margin: 0 auto 2em auto;
  max-width: 315px;
  font-size: 0.82em;
}

.poetry-stanza p:first-child { text-indent: 10px; }

.long-quote-author { font-variant: small-caps; }

.poem-quote-author {
  display: block;
  text-align: right;
}

#footnotes {
  border-top: 1px dotted black;
  font-size: 0.8em;
  margin: 0 auto;
  max-width: 95%;
  padding: 2em 0;
}

#footnotes .poem-quote { font-size: 1em; }

#footnotes ol {
    padding: 0 0 0 1em;
}

.indented-line { text-indent: 10px; }
