!!!
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title
      {% block title %}{% endblock %}

    {% block meta %}{% endblock %}

    link(rel="alternate", type="application/rss+xml", title="RSS", href="/feed")

    <!-- grunt-active: dev -->
    link(rel="stylesheet", href="{{ STATIC_URL }}gentlereader/style/css/STYLE.css")
    <!-- endgrunt -->
    <!-- grunt-inactive: build
    link(rel="stylesheet", href="{{ STATIC_URL }}gentlereader/style/css/style-compressed.css")
    endgrunt -->
    {% block styles %}{% endblock %}

    {% block topscripts %}{% endblock %}

    {% block head %}{% endblock %}

  body

    {% block header %}
    include includes/header
    {% endblock %}

    {% block main %}{% endblock %}

    {% block footer %}
    include includes/footer
    {% endblock %}

    <!-- grunt-active: dev -->
    script(src="{{ STATIC_URL }}gentlereader/scripts/require.js")
    script(src="{{ STATIC_URL }}gentlereader/scripts/common-dev.js")
    <!-- endgrunt -->

    <!-- grunt-inactive: build
    script(src="{{ STATIC_URL }}gentlereader/build/require.js")
    endgrunt -->
    {% block bottomscripts %}{% endblock %}