{% extends "base.html" %}

{% block title %}Browse {{ category|capfirst }} - The Gentle Reader{% endblock %}

{% block bottomscripts %}

<!-- grunt-active: dev -->
script
  var tagType = {{ category_json|safe }};
{% if category == "timeline" %}
script(src="{{ STATIC_URL }}gentlereader/scripts/timeline-main.js")
{% elif category == "highlights" %}
script(src="{{ STATIC_URL }}gentlereader/scripts/browse-highlights-main.js")
{% elif category %}
script(src="{{ STATIC_URL }}gentlereader/scripts/browse-main.js")
{% endif %}
<!-- endgrunt -->

<!-- grunt-inactive: build
script
  var tagType = {{ category_json|safe }};
  require(['{{ STATIC_URL }}gentlereader/build/common-build.js'], function(common) {
    {% if category == "timeline" %}
    require(['timeline-main'], function(timelineMain) {});
    {% elif category == "highlights" %}
    require(['browse-highlights-main'], function(highlightsMain) {});
    {% elif category %}
    require(['browse-main'], function(browseMain) {});
    {% endif %}
  });
endgrunt -->

{% endblock %}


{% block main %}

.content

  h1.browse-h
    {% if category == "selections" %}
    | all selections
    {% elif category == "languages" %}
    | original languages
    {% else %}
    | {{ category }}
    {% endif %}

  //
    #adjustor-container
      #selected-page
      #page-select-container.adjustor-subcontainer

  {% if category == "selections" %}
  include includes/browse-selections
  {% elif category == "timeline" %}
  include includes/browse-timeline
  {% elif category == "highlights" %}
  include includes/browse-highlights
  {% elif category == "announcements" %}
  include includes/browse-announcements
  {% else %}
  include includes/browse-tags
  {% endif %}

  aside.browse-extras
    .other-browse
      h2.rq-title Other Ways to Browse
      ul
        {% for category in other_categories %}
        li: a(href="/{{ category }}")
          {% if category == "languages" %}
          | orig. languages
          {% elif category == "announcements" %}
          | announce&shy;ments
          {% else %}
          | {{ category }}
          {% endif %}
        {% endfor %}
    .rq-container
      include includes/rand-quot

  .rq-btn Read a Random Highlight


{% endblock %}