footer.site-footer
  .footer-inner

    .footer-text
      <a href="/" class="footer-title">The Gentle Reader</a> is an ever-growing, explorable anthology of carefully curated selections from texts in the public domain. <a class="footer-about" href="/about">Read more about the site.</a>
      
    ul.footer-links
      li: a(href="#").footer-link Selections
      li: a(href="#").footer-link Highlights
      li: a(href="#").footer-link Announcements
      li: a(href="#").footer-link Links &amp; Sources
      li: a(href="#").footer-link Contact
      li: a(href="#").footer-link Copyright Info.