.site-nav--container
  nav.site-nav
    a(href="/").site-nav--title <span class="title-the">The</span> <span class="title-gentle">Gentle</span> <span class="title-reader">Reader</span>
    ul.site-nav--ul
      li.site-nav--li.nav-about About
      li.site-nav--li Browse
      li.site-nav--li Search
  a.fixed-back(href="#") (top)