{% extends "base.html" %}

{% block title %} Highlight &#35;{{ h.pk }}, from {{ h.selection.source.author.full_name }} - The Gentle Reader{% endblock %}

{% block bottomscripts %}
<!-- grunt-inactive: dev
script(src="{{ STATIC_URL }}gentlereader/scripts/only-hyphenation-main.js")
endgrunt -->

<!-- grunt-active: build -->
script
  require(['{{ STATIC_URL }}gentlereader/build/common-build.js'], function(common) {
    require(['only-hyphenation-main'], function(homeMain) {});
  });
<!-- endgrunt -->
{% endblock %}


{% block main %}
.content
  #single-highlight-container
    .hl-body.hyphenate {{ h.get_quotation }}
    .hl-about {{ h.get_source }}

  .hl-links
    a.hl-link(href='/selections/{{ h.selection.slug }}') Read this full selection
    a.hl-link(href='/highlights/&#35;{{ h.selection.source.author.slug }}') See more highlights from {{ h.selection.source.author.full_name }}
    a.hl-link(href='/highlights/random') Enjoy a random highlight
    a.hl-link(href='/highlights') Browse all highlights


{% endblock %}