{% extends "base.html" %}

{% block title %}The Gentle Reader{% endblock %}

{% block meta %}
meta(name="description", content="The Gentle Reader is a dynamic, curated anthology of public domain texts.")
meta(name="google-site-verification", content="dR70T1m35LbkbQN3lrEMkkqj6VByE4hV84nAHpovjyc")
{% endblock %}

{% block bottomscripts %}
script
  window.highlightParams = { 'home': true };
include includes/only-highlight-script.jade
{% endblock %}

{% block header %}{% endblock %}

{% block main %}

.content.home-content

  header.site-header
    h1.site-title
      .site-title-the the
      .site-title-gentle Gentle
      .site-title-reader Reader

  .home-main

    .home-col-left

      .slogan-container
        .site-slogan Containing a <em>dynamic</em>, <em>curated</em> <span class="s-cap">Anthology</span> of Selections from Texts in the <em>Public Domain</em>, compiled and catalogued for your <em>Enjoyment</em> and <em>Edification</em>.

        a(href="/about").site-slogan.site-header-more Read more about the site

      .home-search-container
        form.search-form
          input#homeSearch.search-input(type="search", placeholder="Search for a title, author, topic, &c.")
          input.search-submit(type="submit", value="Submit")

      section.recent.home-section#recent-additions
        h2.home-subhead Recent Additions

        {% for s in recent_additions %}
        include includes/sel-in-list
        {% endfor %}

        .home-more
          a(href="/selections").home-more-btn more selections
          a(href="/announcements").home-more-btn more announcements

      section.contribute.home-section
        h2.home-subhead Contribute
        p.regtxt Send your own ideas for selections, tags, authors to feature, &amp;c. Help this project thrive. Just <a href="/contact">visit the contact page</a> and release your long-pent-up flood of ideas. <a href="/contact">Thank God for people like you.</a>

      .home-skeleton

    .home-col-right

      .home-scholar

      section.subscribe.home-section
        h2.home-subhead Subscribe
        p.regtxt As <cite>The Gentle Reader</cite> grows, you can stay updated with <em>regular installations</em> of newly added <span class="s-cap">selections</span> &mdash; by RSS, Twitter (<a href="https://twitter.com/aGentleTweeter" target="_blank">@aGentleTweeter</a>), or Facebook.

        .subscribe-icons.m-large
          include includes/subscribe


      nav#home-browse.home-nav-container.home-section
        h2.home-subhead Browse
        include includes/table-of-contents



      .rq-container.home-section
          include includes/rand-quot
      .rq-btn.home-section Read a Random Highlight


{% endblock %}

{% block footer-subscribe %}
.home-footer-padding
{% endblock %}