{% extends "base.html" %}

{% block title %}The Gentle Reader{% endblock %}

{% block meta %}
meta(name="description", content="")
{% endblock %}

{% block bottomscripts %}
<!-- grunt-inactive: dev
script(src="{{ STATIC_URL }}anthologist/scripts/home-main.js")
endgrunt -->

<!-- grunt-active: build -->
script
  require(['{{ STATIC_URL }}anthologist/build/common-build.js'], function(common) {
    require(['home-main'], function(homeMain) {});
  });
<!-- endgrunt -->{% endblock %}

{% block header %}{% endblock %}

{% block main %}

.content.home-content

  header.site-header
    h1.site-title
      .site-title-the the
      .site-title-gentle Gentle
      .site-title-reader Reader
      //.site-title-the.u-second --

  .home-main

    .home-col-left

      .slogan-container
        .site-slogan Containing a <em>dynamic</em>, <em>curated</em> <span class="s-cap">Anthology</span> of Selections from Texts in the <em>Public Domain</em>, compiled and catalogued for your <em>Enjoyment</em> and <em>Edification</em>.

        a(href="/about").site-slogan.site-header-more Read more about the site

      .home-search-container
        form.search-form
          input.search-input(type="search", placeholder="Search")
          input.search-submit.s-search(type="submit", value="Submit")

      section.recent.home-section#recent-additions
        h2.home-subhead Recent Additions

        {% for s in recent_additions %}
        include includes/sel-in-list
        {% endfor %}

        .home-more
          a(href="/selections").home-more-btn more selections
          a(href="/announcements").home-more-btn more announcements

      section.contribute.home-section
        h2.home-subhead Contribute
        p Send your own ideas for selections, tags, authors to feature, &amp;c. Help this project thrive! Just <a href="/contact">visit the contact page</a> and release your long-pent-up flood of ideas. <a href="/contact">Thank God for people like you!</a>

      .home-image.home-skeleton(data-picture, data-alt="A skeleton, thinking, at an altar")
        div(data-src="{{ STATIC_URL }}anthologist/images/skeleton-thinking-nr.png", data-media="(min-width: 47.5em)")
        div(data-src="{{ STATIC_URL }}anthologist/images/skeleton-thinking.png", data-media="(min-width: 47.5em) and (-webkit-min-device-pixel-ratio: 2), (min-width: 47.5em) and (min-resolution: 192dpi)")

    .home-col-right

      .home-image(data-picture, data-alt="A melancholic scholar; a gentle reader")
        div(data-src="{{ STATIC_URL }}anthologist/images/melancholic-scholar-nr.png", data-media="(min-width: 47.5em)")
        div(data-src="{{ STATIC_URL }}anthologist/images/melancholic-scholar.png", data-media="(min-width: 47.5em) and (-webkit-min-device-pixel-ratio: 2), (min-width: 47.5em) and (min-resolution: 192dpi)")

      section.subscribe.home-section
        h2.home-subhead Subscribe
        p As <cite>The Gentle Reader</cite> grows, you can receive <em>regular installations</em> of newly added <span class="s-cap">selections</span>&nbsp;.&nbsp;.&nbsp;. by email, RSS, Twitter, or Facebook.
        form.email-form
          input.email-input(type="email", placeholder="Your email address")
          input.email-submit(type="submit", value="Do it")
        .subscribe-icons
          a(href="#").subscribe-icon.s-icn-rss Subscribe to the RSS Feed
          a(href="#").subscribe-icon.s-icn-twitter Follow us on Twitter
          a(href="#").subscribe-icon.s-icn-facebook Follow us on Facebook


      nav#home-browse.home-nav-container.home-section
        h2.home-subhead Browse
        include includes/table-of-contents



      .rq-container.home-section
          include includes/rand-quot
      .rq-btn.home-section Read a Random Highlight


{% endblock %}

{% block footer-subscribe %}
.home-footer-padding
{% endblock %}